{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column bd-highlight mb-3" style="width:30%">
            <h1 class="display-3 text-center">{{ article.title }}</h1>
            <h4 class="display-5 text-center">{{ article.annotation }}</h4>
        </div>
    </div>
    <div class="mx-auto"style="width:90%" >
        <p class="fs-1" style="font-size:150%">{{ article.content }}</p>
        <h5 class="d-flex justify-content-start">Пользователь: {{ article.userRel.firstName }} {{ article.userRel.surName }}</h5>
        <div class="d-flex justify-content-between">
            <h5 class="d-flex justify-content-end">Дата публикации: {{article.artDateTime? article.artDateTime|date('Y-m-d H:i:s') : '' }}</h5>
            <h5 class="d-flex justify-content-start">Просмотры: {{article.Views}}</h5>
        </div>
        <h2 class="display-4" style="font-size:150%"> Комментарии:</h2>
        {{ form(comment_form) }}
    {% if comments|length > 0 %}
        {% for comment in comments %}
            <h4>{{ comment.userRel.firstName }} {{ comment.userRel.surName }}</h4>
            <small>
                {{ comment.commDateTime? comment.commDateTime|date('Y-m-d H:i:s') : ''  }}
            </small>

            <p>{{ comment.text }}</p>
        {% endfor %}
    {% else %}
        <div>Нет комментариев.</div>
    {% endif %}
    </div>
    
        
{% endblock %}
